.daily-goal-img {
  background-color: rgba(128, 0, 128, 0.7);
}

.habit-img {
  background-color: rgba(255, 165, 0, 0.7);
}

.pomodoro-img {
  background-color: rgba(255, 99, 71, 0.8);
}

.motivation-img {
  background-color: rgba(34, 139, 34, 0.7);
}

.main-wrapper {
  height: 700px;
}
