.btn-dg-wait {
  text-align: left;
  color: grey;
}

.dg-lists {
  button {
    display: none;
  }

  .dg-focus {
    button {
      display: block;
    }
  }

  .dg-keep {
    button.dg-btn-delete {
      display: none;
    }

    
  }
}
