.btn-dg-wait {
  text-align: left;
  color: grey;
}

.dg-lists {
  button {
    display: none;
  }

  .dg-focus {
    button {
      display: block;
    }
  }

  .dg-add-new {
    button.dg-btn-delete {
      display: none;
    }

    .fa-check, .fa-repeat {
      display: none;
    }
  }

  .fa-check {
    display: block;
  }

  .fa-repeat {
    display: none;
  }

  .dg-done {
    input {
      border: none;
      text-decoration: line-through;
      color: grey;
    }

    .fa-check {
      display: none;
    }

    .fa-repeat {
      display: block;
    }
  }
}

.fa-check, .fa-repeat, .fa-refresh, .fa-arrow-circle-left {
  color: #00bfff;
}

.vh-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
