.fa-refresh, .fa-arrow-circle-left {
  color: #00bfff;
}

.vh-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#mv-timer {
  color: #00bfff;
}

.mv-alert-pass {
  color: green;
}

.mv-alert-fail {
  color: red;
}

#mv-setup {
  display: none;
}
